@import "tailwindcss";

:root {
	--background: #f6f6f6;
	--foreground: #242424;
	--logo-green: #C3FF19;
}

/* Force light mode preference */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sora: var(--font-sora);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sora), Arial, Helvetica, sans-serif;
}

/* Tailwind */
.max-w-8xl {
	max-width: 75rem;
}
